<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
  </system.web>
  <appSettings>
    <add key="ShareLocation" value="\\vc-mng\VMData\"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Report.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>